@page
@model EngTimesheet.Pages.SettingsModel
@{
	ViewData["Title"] = "Settings";
}
@section Navbar {
	@await Html.PartialAsync("Navbar", Model.UserModel)
}

<h2>@Model.UserModel.FullName's Settings</h2>

<div class="container" style="margin-top: 10px;">
	<label style="color:red;">@Model.Message</label>
	<form action="" method="post">
		<div class="row">
			<div class="col-md-3">
				<label asp-for="UserModel.Email"></label>
				<input asp-for="UserModel.Email" class="form-control" type="email" required />
				<span class="alert-danger" asp-validation-for="UserModel.Email"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label asp-for="UserModel.FirstName"></label>
				<input asp-for="UserModel.FirstName" class="form-control" required />
				<span class="alert-danger" asp-validation-for="UserModel.FirstName"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label asp-for="UserModel.LastName"></label>
				<input asp-for="UserModel.LastName" class="form-control" required />
				<span class="alert-danger" asp-validation-for="UserModel.LastName"></span>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-3">
				<input type="submit" value="Update Settings" class="btn btn-primary" />
			</div>
		</div>
		@Html.HiddenFor(x => Model.UserModel.Id)
		@Html.HiddenFor(x => Model.UserModel.Manager)
		@Html.HiddenFor(x => Model.UserModel.Deactivated)
		@Html.HiddenFor(x => Model.UserModel.Registered)
	</form>
</div>
